<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.mobile.AnimationDefaultLayout"/>
      <class name="org.mobile.WifiSettings"/>
      <class name="org.mobile.DragTest"/>
      <class name="org.mobile.PreferenceTest"/>
      <class name="org.mobile.AnimationCloning"/>
      <class name="org.mobile.AnimationCustomEvaluator"/>
      <class name="org.mobile.longPressTest"/>
      <class name="org.mobile.ViewsRelatedTests"/>
      <class name="org.mobile.ScrollTest"/>
      <class name="org.mobile.AnimationReversing"/>
      <class name="org.mobile.AnimationBouncingBalls"/>
      <class name="org.mobile.SwipeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
